.rotate-left {
  animation-name: rotateLeft;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotateLeft {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* --- */

.rotate-right {
  animation-name: rotateRight;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotateRight {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

/* --- */

.plate-starting {
  transform: scale(1.2) rotate(360deg) !important;
}

.plate-start {
  transform: scale(0.8) rotate(370deg) !important;
}

.plate-ending {
  transform: scale(0.4) rotate(-180deg) !important;
}

.plate-end {
  transform: scale(0.4) rotate(-180deg) !important;
}

/* --- */

.app-starting {
  transform: scale(0.8) rotate(-30deg) !important;
}

.app-start {
  transform: scale(1) rotate(-40deg) !important;
}

.app-ending {
  transform: scale(0.4) rotate(-60deg) !important;
}

.app-end {
  transform: scale(0.4) rotate(-180deg) !important;
}

